
/* --- Taxonomy Tree Block CSS --- */

.block-taxonomy-tree-block{
	font-family: Arial, Helvetica, sans-serif;
	color: #fff;
}

.block-taxonomy-tree-block h2{
	color: #fff;
	background-color: #1e4266;
	margin: 0;
	padding: 10px 20px;
	-webkit-border-top-right-radius: 8px;
	-moz-border-radius-topright: 8px;
	border-top-right-radius: 8px;
}

.block-taxonomy-tree-block .content{
	margin: 0 0 18px 0;
	padding-bottom: 10px;
}

.taxonomy-tree-menu a,
.taxonomy-tree-menu a:hover{
	color: #fff;
	text-decoration: none;
}

.block .taxonomy-tree-menu ul,
.block .taxonomy-tree-menu ul li{
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 12px;
}

.taxonomy-tree-menu ul li{
	position: relative;
}

.taxonomy-tree-menu ul li a.anchor,
.taxonomy-tree-menu ul li a.hidden,
.taxonomy-tree-menu ul li a.shown{
	display: block;
	cursor: pointer;
	padding: 6px 20px 6px 34px;
	color: #fff;
	text-decoration: none;
	border-bottom: 1px dotted #fff;
	border-left: 2px solid #3e76ad;
	border-right: 2px solid #3e76ad;
	background: url("white_arrow_closed.png") 16px 10px no-repeat #3e76ad;
}

	/* Active / Closed */
	
	.taxonomy-tree-menu ul li a.shown{
		background: url("white_arrow_open.png") 16px 10px no-repeat #3e76ad;
	}
	
		/* First child styles */
	
		.taxonomy-tree-menu ul ul li a.anchor,
		.taxonomy-tree-menu ul ul li a.hidden,
		.taxonomy-tree-menu ul ul li a.shown{
			background: url("blue_arrow_closed.png") 36px 10px no-repeat #fff;
			color: #3e76ad;
			border-bottom: none;
			padding-left: 54px;
			border-left: 2px solid #fff;
			border-right: 2px solid #fff;
		}
		
		/* Second child styles */
	
		.taxonomy-tree-menu ul ul ul li a.anchor,
		.taxonomy-tree-menu ul ul ul li a.hidden,
		.taxonomy-tree-menu ul ul ul li a.shown{
			background: url("blue_arrow_closed.png") 56px 10px no-repeat #f5f5f5;
			color: #3e76ad;
			border-bottom: none;
			padding-left: 74px;
			border-left: 2px solid #f5f5f5;
			border-right: 2px solid #f5f5f5;
		}

.taxonomy-tree-menu ul li span{
	display: inline-block;
	position: absolute;
	font-weight: bold;
	color: #8ec2f3;
	top: 4px;
	right: 20px;
}

.taxonomy-tree-menu li:last-child{
	border-bottom: none;
}
